[submodule "Mod/BlocklyProgramMod/web/closure-library"]
	path = Mod/BlocklyProgramMod/web/closure-library
	url = http://git.keepwork.com/cloud/google-closure-library.git
[submodule "Mod/BlocklyProgramMod/web/blockly"]
	path = Mod/BlocklyProgramMod/web/blockly
	url = http://git.keepwork.com/cloud/google-blockly.git
